{% extends "sources/base.html" %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    $("table.tablesorter").tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });
});
</script>
{% endblock %}

{% comment %}
{% block breadcrumbs %}{{block.super}} / <a href="{% url people %}">people</a>{% endblock %}
{% endcomment %}

{% block relatedpages %}
{% if object %}<a href="{{source.get_absolute_url}}">view</a>{% endif %}
{% if object %}<a href="{% url 'source_backup_list' sname=source.name %}">backups</a>{% endif %}
{{block.super}}
{% endblock %}

{% block content %}

{% if object %}
<h1>Edit {{object}} data source</h2>

Example post command:
<pre>
curl https://{{ request.META.HTTP_HOST }}{% url 'contributors_post' %} \
     -F source="{{object.name}}" -F auth_token="{{object.auth_token}}" \
     -F data_compression=gzip -F data=@filename.json.gz
</pre>
<small>Also supported: <tt>-F data=@filename.json</tt> and
  <tt>-F data_compression=xz -F data=@filename.json.xz</tt>.</small>
{% else %}
<h1>Create new Debian Contributors data source</h2>
{% endif %}

<form action="." method="POST">{% csrf_token %}
  {{ form.non_field_errors }}

  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  {% for field in form %}
  <h3>{{field.label_tag}}</h3>
  <p>{{field.help_text}}</p>
  {% if field.errors %}
  Issues with the field:
  {{field.errors}}
  {% endif %}
  {{field}}
  {% endfor %}

  <p><input type="submit"></p>
</form>

{% if object %}
<h2>Contribution types</h2>

<table id="ctypes" class="tablesorter {{class}}">
<thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Contributor description</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    {% for c in object.contribution_types.all %}
    <tr>
        <td><a href="{{c.get_absolute_url}}">{{c.name}}</a></td>
        <td>{{c.desc}}</td>
        <td>{{c.contrib_desc}}</td>
        <td>
          <a href="{% url 'source_ctype_update' sname=object.name name=c.name %}">Edit</a>
          <a href="{% url 'source_ctype_delete' sname=object.name name=c.name %}">Delete</a>
          <a href="{% url 'source_ctype_delete_contributions' sname=object.name name=c.name %}">Delete all contributions</a>
        </td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
  <tr>
    <td colspan="2">
      <a href="{% url 'source_ctype_add' sname=object.name %}">Create new contribution type</a>
    </td>
  </tr>
</tfoot>
</table>


{% endif %}

{% endblock %}
