{% extends "contributors/base.html" %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block head %}
{{block.super}}
{% endblock %}
{% block content %}

<h1>Debian Contributions Source detail</h2>

<div>
{{ source }}
</div>

{% endblock %}
