{% extends "contributors/base.html" %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    var perstable = $("table.tablesorter");

    perstable.tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });
});
</script>
{% endblock %}

{% block relatedpages %}
<a href="{% url 'contributors' %}">normal version</a>
{{block.super}}
{% endblock %}

{% comment %}
{% block breadcrumbs %}{{block.super}} / <a href="{% url people %}">people</a>{% endblock %}
{% endcomment %}

{% block content %}

<h1>Debian teams list</h1>

<div id="intro">
This is a list of all the {{teams.count}} teams that contribute to Debian,
  <a href="{% url 'source_list' %}">to the best of our current knowledge</a>.
</div>

<table id="teams" class="tablesorter {{class}}">
<thead>
    <tr>
        <th>Team</th>
        <th>Until</th>
    </tr>
</thead>
<tbody>
    {% for t in teams %}
    <tr>
        <td><a href={% url 'source_view' sname=t.source.name %}>{{t.source}}</a></td>
        <td val="{{t.until|date:"Y-m"}}">{{t.until|date:"F Y"}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}
