{% extends "debian-base.html" %}

{% block title %}Debian Contributors{% endblock %}

{% block head_meta %}
<link rev="made" href="mailto:nm@debian.org">
<meta name="Language" content="English">
<meta name="Author"   content="Enrico Zini, enrico@debian.org">
{% endblock %}

{% block head_resources %}
  {{block.super}}
  <link type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/dc.css">
{% endblock %}

{% block section %}<a href="{% url 'contributors' %}">Debian Contributors</a>{% endblock %}

{% block searchbox %}
{% comment %}No search feature in NM site yet{% endcomment %}
{% endblock %}

{% block navbar %}
  <li><a href="{% url 'source_list' %}">Data sources</a></li>
  <li><a href="{% url 'site_status' %}">Site status</a></li>
{% comment %}
  <li><a href="http://www.debian.org/devel/join/newmaint">NM Corner</a></li>
  <li><a href="{% url public_findperson %}">People</a></li>
  <li><a href="{% url managers %}">Managers</a></li>
  <li><a href="http://wiki.debian.org/Keysigning">Keysigning</a></li>
  <li><a href="{% url root_faq %}">Site FAQ</a></li>
{% endcomment %}
{% endblock %}

{% block breadcrumbs %}{% if impersonator %}<a href="{% url 'contributor_impersonate' name=impersonator.email %}?url={{request.build_absolute_uri}}">[{{impersonator}} as {{visitor}}]</a> {% endif %}<a href="{% url 'contributors' %}">contributors</a>{% endblock %}

{% block relatedpages %}
{% if user.is_authenticated %}
<a href="{{user.get_absolute_url}}">{{user.unambiguous_user_id}}</a>
{% else %}
  <a href="https://wiki.debian.org/DebianSingleSignOn#Debian_SSO_documentation">login</a>
{% endif %}
{% comment %}
    <a href="{% url search_packages %}">Search</a>
    <a href="{% url report_todo %}">TODO list</a>
    <a href="{% url editor_index %}">Editor</a>
    <a href="{% url statistics %}">Statistics</a>
{% endcomment %}
{% endblock %}

{% block content %}
<h1>Debian Contributors Website Template</h1>
{% endblock %}

{% block footer %}
<p>Copyright © 2013 Enrico Zini &lt;enrico@debian.org&gt;. See <a href="{% url 'root_license' %}">license terms</a>.
Source code is <a href="https://anonscm.debian.org/cgit/nm/dc.git/">here</a>, to help see
<a href="https://wiki.debian.org/Teams/FrontDesk/DcSiteDevel">here</a>.
Please report bugs against the <a href="http://bugs.debian.org/nm.debian.org">nm.debian.org</a> pseudo-package.
</p>
{% endblock %}
